html {
	width:100%;
	height:100%;
	font-size: 100.01%;
}

body {
	font: 14px/1.41 Arial, sans-serif;
	width:100%;
	height:100%;
    min-width: 1200px;

}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style: none inside none;
}

@import "mixins.less";

/* Secondary section */

.container {
	width: 106.6em;
	margin: 0 auto;
}

.wrapper {
	position: relative; 
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
    z-index: 10;
}
.wrapper_bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
//    bottom: 98px;
    img {
        position: absolute;
    }
}

.maincontent {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}
.hidden, .ninja {
    position: absolute;
    left: -9999px;
    top: -9999px;
    .opacity(0);
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@import "/less/example";